@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
/* start of global styles */
* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body
{
  min-height: 100vh;
}
/* end of global styles */

.container
{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card
{
  position: relative;
  background: #fff;
  max-width: 350px;
  width: 350px;
  margin: 20px;
  border-radius: 4px;
  box-shadow: 0 5px 25px rgb(1, 1, 1);
}
.card-image
{
  max-height: 300px;
  overflow: hidden;
}
.card-image img
{
  max-width: 100%;
  height: auto;
  visibility: hidden;
}

.card-info h3 span
{
  visibility: hidden;
}
.card-info p span
{
  visibility: hidden;
}
.card-info .card-mediaIcons img
{
  visibility: hidden;
}

.card-info
{
  position: relative;
  color: #222;
  padding: 20px;
}
.card-info h3
{
  font-size: 1.4em;
  font-weight: 700;
  margin-bottom: 10px;
}
.card-info p
{
  font-size: 1em;
  margin-bottom: 15px;
}
.card-info .card-mediaIcons
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon
{
  filter: invert(1);
  transform: scale(0.4);
}
#shav
{
  transform: scale(0.4);
}
.card-info .card-mediaIcons a
{
  color: #999;
  font-size: 1.4em;
  margin: 0 5px;
  /* background: #eee; */
  border-radius: 50%;
  padding: 0;
}
.card-info .card-mediaIcons a:hover
{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}
@keyframes shake 
{
  10%, 90%
  {
    transform: translate3d(-1px, 0, 0);
  }  
  20%, 80%
  {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70%
  {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60%
  {
    transform: translate3d(2px, 0, 0);
  }
}
.loading
{
  position: relative;
  background: #e2e2e2;
  overflow: hidden;
}
.loading::before
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
  transform: translateX(-100%);
  animation: loading 1.5s infinite;
}
@keyframes loading
{
  100%
  {
    transform: translateX(100%);
  }
}
